$condensed: 'Roboto Condensed', sans-serif;
$serif: 'Roboto', sans-serif;
$header: 'FFFFORWARD', 'Wingdings', 'Times New Roman', serif;

$grid-columns: 12;
$gutter: 1rem;
$max-width: 67.5rem;
$medium-up-width: 48rem;
@mixin medium-up {
   @media (min-width: #{$medium-up-width}) {
      @content;
   }
}
@mixin small-only {
    @media (max-width: #{$medium-up-width}) {
        @content;
    }
}
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}


html, body {
   font-size: 16px;
   font-family: $serif;
   background: $background;
   background: $background-gradient-darker;
   background-size: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 100%;
   max-width: 100vw;
   @include medium-up {
       max-width: 100%;
   }
   &.active {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}
   
}
body {
    &:after {
       content: '';
       height: 25rem;
       max-width: 25rem;
       width: 70%;
       position: fixed;
       right: 0;
       background-image: url('../img/slogan-bg.png');
       background-size: 100%;
       background-position: right bottom;
       background-repeat: no-repeat;
       display: block;
       opacity: 0;
       bottom: 0;
       z-index: 2;
       pointer-events: none;
       @include medium-up {
          opacity: 1;
       }
    }
}
h1, h2, h3 , h4, span, p, a {
   text-rendering: optimizeLegibility;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
   display: block
}
.hide-medium {
    display: block;
    @include medium-up {
        display: none;
    }
}
.show-medium {
    display: none;
    @include medium-up {
        display: block;
    }
}