@import "gdq/_normalize.scss";
@import "gdq/_print.scss";
@import "gdq/_glyphicons.scss";
@import "gdq/_gdq.scss";

//@import "bootstrap.scss";
@import "partials/_colors.scss";
@import "partials/_fonts.scss";
@import "partials/_settings.scss";

body {
	//background: $background-gradient-darker;
	color: $white;
	font-family: $condensed;

    /*
    &:after {
       content: '';
       height: 25rem;
       max-width: 25rem;
       width: 70%;
       position: fixed;
       right: 0;
       background-image: url('/static/slogan-bg.png');
       background-size: 100%;
       background-position: right bottom;
       background-repeat: no-repeat;
       display: block;
       opacity: 0;
       bottom: 0;
       z-index: 2;
       pointer-events: none;

       @include medium-up {
          opacity: 1;
       }
    }
    */
}

h1,h2 {
	font-family: $serif;
	
	small {
		font-family: $serif;
	}
}

h1,h2,h3,h4,h5,h6 {
  &.highlighted {
    color: $white;
  }
}

.table {
	tbody {
    background-color: $white;
		color: $black;

    a {
      color: $blue;
    }
	}

  hr {
    display: none;
  }
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #e9e9e9;
}

.panel {
  color: $black;
}

a {
  color: $orange;


  &.highlighted {
    font-size: 120%;
    font-weight: bold;
  }
}

input, textarea {
  color: $black;
}