{% extends "base.html" %}
{% load donation_tags %}
{% load staticfiles %}

{% block title %}Read Donations{% endblock %}

{% block nav %}{% endblock %}
{% block head %}

<style>
td {
  padding: 5px;
}
</style>

<link href="{% static "css/ajax_select.css" %}" type="text/css" media="ajax" rel="stylesheet" />
<script src="{% static "js/ajax_select.js" %}"></script>
<link href="{% static "adminprocessing.css" %}" type="text/css" media="ajax" rel="stylesheet" />
<script src="{% static "adminprocessing.js" %}"></script>

<script>

var queryDict = {};
location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]});

var partitionLanguageElem = "#partition_language";
var languageCookieName = 'donation_processing_language';

var trackerAPI = new TrackerAPI("{% settings_value "SITE_PREFIX" %}");

var resultsTable;

// yes, repeated code, someday I'll clean this up to use a proper javascript model library
function getLanguageCookie() {
  var language = $.cookie(languageCookieName);
  if (typeof language !== 'undefined')
  {
    $(partitionLanguageElem).val(language);
  }
  else
  {
    $(partitionLanguageElem).val('all');
    setLanguageCookie();
  }
}

function setLanguageCookie() {
  $.cookie(languageCookieName,  $(partitionLanguageElem).val());
  console.log("Set language to " + $(partitionLanguageElem).val());
}

$(document).ready(function(){
  $("#select_event").val(queryDict["event"] || "");
  setEvent();

  resultsTable = $("#id_result_set");

  getLanguageCookie();
  $(partitionLanguageElem).change(setLanguageCookie);

  setTimeout(runSearch, 0);
});

function setEvent() {
  var zevent = $("#select_event").val();
  if (zevent) {
    window.history.pushState({},"", "?event=" + zevent);
  } else {
    window.history.pushState({},"", "?");
  }
  zcurrentEvent = zevent;
}


function makeLoadButton(row, donation, text) {
  var btn = $("<button>")
  btn.append(text);
  btn.on('click', function(){
    searchParams = {
      feed : "toread",
      donation: donation.pk,
    };

    row.find(".bidcell").html("Loading...");

    trackerAPI.searchObjects("donationbid", searchParams, function(status, responseText) {
      if (status == 200) {
        var resultsTable = $("<table class='bids'>");
        row.find(".bidcell").empty();
        row.find(".bidcell").append(resultsTable);
        resultsTable.html(
        );

        var bids = eval(responseText);
        let namex = /(.*) -- (.*) -- .*/;

        for (let bid of bids) {
            matches = namex.exec(bid.fields.public)

            newrow = $("<tr>");
            title = $("<td>").html(matches[1] + ":" + matches[2]);
            newrow.append(title);

            value = $("<td>").html("$" + bid.fields.amount);
            newrow.append(value);
            resultsTable.append(newrow);
        }
      }
      else
      {
        row.find(".bidcell").html("Error: " + responseText['error']);
      }
    }); 
  });
  return btn;
}

function addRow(donation) {
  var row = $("<tr>");
  var id = parseInt(donation['pk']);

  row.append($("<td>").append(makeAnchor(donation['fields']['donor__public'], trackerAPI.createAdminEditURL('donor', parseInt(donation['fields']['donor'])))));
  row.append($("<td>").append(makeAnchor(asMoney(donation['fields']['amount']), trackerAPI.createAdminEditURL('donation', id))));
  row.append($("<td>").append(safeHtml(donation['fields']['comment'])));

  row.append($("<td>")
    .append(makeEditButton(row, donation, "Read", "Read on the Air", { readstate: "READ", commentstate: "APPROVED" }))
    .append(makeEditButton(row, donation, "Ignore", "Ignored", { readstate: "IGNORED", commentstate: "APPROVED" }))
    .append(makeEditButton(row, donation, "Block Comment", "Blocked comment", { readstate: "IGNORED", commentstate: "DENIED" })));

  row.append($('<td class="statuscell">'));
  row.append($('<td class="bidcell">')
    .append(makeLoadButton(row, donation, "Donation Bids")));

  resultsTable.append(row);
}



function runSearch() {

  searchParams = {
    feed : "toread",
  };

  {% if currentEvent %}
  searchParams.event = {{ currentEvent.id }};
  {% endif %}

  if (zcurrentEvent) {
    searchParams.event = zcurrentEvent
  }

  //TODO: it would be nice to animate removed rows fading out, and new rows fading in, but
  // I think we should focus on _functionality_ over style for now
  disableElements($("#id_result_set").get(0));
  //$("#id_result_set").html("");

  $("#id_loading").html("Loading...");

  trackerAPI.searchObjects("donation", searchParams, function(status, responseText) {
    if (status == 200) {

      var resultsTable = $("#id_result_set");

      resultsTable.html("<tr>" +
        "<th> Donor </th>" +
        "<th> Amount </th>" +
        "<th> Comment </th>" +
        "<th> Actions </th>" +
        "<th> Status </th>" +
        "<th> Bids </th>" +
        "</tr>");

      var donations = eval(responseText);

      var language = $(partitionLanguageElem).val();

      for (var i in donations) {
        if (language == 'all' || donations[i]['fields']["commentlanguage"] == language) {
          addRow(donations[i]);
        }
      }

      $("#id_loading").html("");

    }
    else
    {
      $("#id_result_set").html("Error: " + responseText['error']);
    }

    enableElements($("#id_result_set").get(0));
  });
}

</script>

{% endblock %}

{% block content %}

<label>Language</label>
<select id="partition_language">
  <option value="all">All</option>
  <option value="en">English</option>
  <option value="fr">French</option>
  <option value="de">German</option>
  <option value="un">Unknown</option>
</select>

<label>Stream</label>
<select id="select_event" onchange="setEvent()">
  <option value="">All</option>
  <option value="15">Stream 1</option>
  <option value="16">Stream 2</option>
</select>

<button onclick="runSearch();">Refresh</button>
<label for="id_autoRefresh">Auto-Refresh?</label>
<input type="checkbox" id="id_autoRefresh">
<script>
  setInterval(function() {
    if (document.getElementById("id_autoRefresh").checked) {
      runSearch();
    }
  }, 10000);
  </script>

<span id="id_loading"></span>

<table id="id_result_set" border="1" style="margin: auto; width: auto;">

{% endblock %}
