$background: #151E33;
$background-darker: #070D1C;

$orange: #FFBD17;
$orange-light: lighten($orange, 30%);
$orange-dark: #E67700;

$purple: #9412ED;

$blue: #4514BF;
$blue-darker: #080D1B;

$white: #fff;
$black: #000;
